<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<section id="services" class="services_area pt-115 pb-120">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="section_title text-center pb-30">
                  <h5 class="sub_title">Projects</h5>
                  <h3 class="main_title">Projects I worked on</h3>
                  <ul class="line">
                      <li></li>
                      <li></li>
                      <li></li>
                  </ul>
              </div> 
          </div>
      </div> 
      <div class="row">
          <div class="col-lg-4 col-sm-6">
              <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                  <div class="service_content">
                      <h4 class="service_title"><a href="#">Disactor Recovery</a></h4>
                      <p>Worked on drafting, developing, testing, and implementing a Disaster Recovery plan for a legacy system coded in DIBOL used by a significant US-based client. In this, we established step-by-step procedures and a series of action that needs to be taken by application support teams to gracefully replicate and bring up the services to another datacenter in a separate region in case there is a service disruption at the live data center. Given that the application is hosted on On-Prem servers and coded in a very old language increased the complexities. It was one of the most challenging projects I undertook.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                  <div class="service_content">
                      <h4 class="service_title"><a href="#">Application Maintanace Automation</a></h4>
                      <p>For a legacy system coded in DIOBOL used by a major US-based Client, clients' application support used to follow steps over the weekend for gracefully rebooting the servers and bringing up the application back up post reboot to improve performance and avoid system failures which took 3-4 hours for the team. I was part of the automation team which successfully developed an automation script to automate the maintenance use case to eliminate human efforts and to reduce system downtime to just 30-40 mins instead of 3-4 hours before.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.8s">
                  <div class="service_content">
                      <h4 class="service_title"><a href="#">Application Migration</a></h4>
                      <p>A legacy system coded in DIOBOL used by a major US-based Client was facing a lot of issues as the support was technology was going to end soon. I was part of the migration team which worked to migrate the same application from old technology to the latest technology. I worked on migrating some business critical components. The major challenge was to understand the logical aspect of the current system which was challenging as DIBOL is very old technology and it required a lot of learning to grasp the logical components in spite of the challenges we manages to migrate the application completely.</p>
                  </div>
              </div> 
          </div>
      </div>
      <div class="d-flex align-items-center justify-content-center mt-5">
        <a href="assets/resume/maharsh_patel_resume.pdf" download><div class="btn bg-dark rounded-pill pt-2 pb-2 pr-5 pl-5 text-light">Resume</div></a>
      </div>
  </div>
</section>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>

<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
