<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<section id="services" class="services_area pt-115 pb-120">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="section_title text-center pb-30">
                  <h5 class="sub_title">About</h5>
                  <h3 class="main_title">About me</h3>
                  <ul class="line">
                      <li></li>
                      <li></li>
                      <li></li>
                  </ul>
              </div> 
          </div>
      </div> 
      <div class="row">
          <div class="col-lg-4 col-sm-6">
              <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                  <div class="service_content">
                      <h4 class="service_title"><a href="#">2015-2019</a></h4>
                      <p><b>Bachelors of Engineering @ LDRP-ITR</b></p>
                      <p>I have done my Bachelor's in Computer Engineering from LDRP-ITR, Gujarat, India. During which I have learned fundamentals of computers like Operating Systems, Data Structures, databases, Web\Mobile app development, etc. I also developed coding and analytical skill which helped me to land a great starting job at a reputed IT firm in India as soon as I graduated.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                <div class="service_content">
                    <h4 class="service_title"><a href="#">2019-2022</a></h4>
                    <p><b>System Engineer @ TCS</b></p>
                    <p>I joined TCS Ltd. as a Syatem Engineer. I worked for multiple US-based clients on projects in the healthcare sector. Some of the major roles that I undertook are Automation Engineer, DIBOL developer, Application Support, and Production Support Team Lead. Most of my experience falls in mainframes and legacy systems coded in DIBOL. I have profound knowledge of use case automation using scripting languages(Python and Powershell).</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
              <div class="service_content">
                  <h4 class="service_title"><a href="#">2022-Present</a></h4>
                  <p><b>Studying AI @ Centennial College</b></p>
                  <p>After working in IT for 3+ years I decided to study an Artificial Intelligence course. I choose AI because I worked closely with Business Intelligence and Data Engineering team while at TCS and I was fascinated by how AI and Machine learning helped to find key insights\predictions from data that drive business decisions & growth. So to get first-hand experience with AI I got enrolled at Centennial College.</p>
              </div>
          </div>
      </div>
      <div class="d-flex align-items-center justify-content-center mt-5">
        <a href="assets/resume/maharsh_patel_resume.pdf" download><div class="btn bg-dark rounded-pill pt-2 pb-2 pr-5 pl-5 text-light">Resume</div></a>
      </div>
      </div>
  </div>
</section>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>

<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
